{% extends "::base.html.twig" %}

{% block body %}

    <h1>Analyze your Website. For free.</h1>

    <div id="processing">
        <img src="/images/loading.gif" width="28"/>
    </div>


    <div class="form">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="box">
            {{ form_widget(form.url, {'attr': {'onfocus': '$("#error_msg").html("")'} }) }}
            <button type="button" onclick="analyzeUrl()">
                <img src="/images/analyze.png" width="30" height="30" alt="analyze"/>
            </button>
        </div>
        <div id="error_msg"></div>


        {{ form_widget(form) }}

        {{ form_end(form) }}

        <div style="clear: both"></div>

        <p class="info">
            Smoke will crawl the given url and will analyze the first 100 resources that are used.
        </p>
    </div>

    <h2>Recent Scans</h2>
    <div id="recent_results">
        <ul>
            {% for result in recentResults %}
                <li><a href="{{ path("whm_smoke_show", {"resultSet": result.id }) }}">{{ result.url }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <script>

        function analyzeUrl() {
            $("#processing").show();
            $.ajax({
                type: "POST",
                url: "{{ path("whm_smoke_analyze") }}",
                data: $("#url_form").serialize(),
                dataType: "json",
                success: function (data) {
                    window.location.href = data.url;
                },
                error: function () {
                    $("#processing").hide();
                    $("#error_msg").html("unable to analyze");
                }
            });
        }


        $(function () {
            $("#url_form").on('submit', function () {
                analyzeUrl();
                return false;
            })
        });

    </script>

{% endblock %}