{% extends "::base.html.twig" %}

{% block body %}

    <h1>Analysis completed</h1>

    <p class="info">
        smoke has analyzed {{ num }} files starting from <a href="{{ url }}">{{ url }}</a>.
        <br/>
        <a href="{{ path("whm_smoke_homepage") }}"><span class="button">analyze another website</span></a>
    </p>

    <div id="hide_passed">
        <input type="checkbox" id="showPassed" onclick="$('.status_passed').toggle()">
        <label for="showPassed">Hide violation-free urls</label>
    </div>

    <div class="results">
        {% for result in results %}
            <div class="result status_{{ result.type }}">
                <div class="url">
                    <div class="validate">
                        {% if result.contentType == "text/html" %}
                            <a href="https://validator.w3.org/check?uri={{ url|url_encode }}%2F&charset=%28detect+automatically%29&doctype=Inline&group=0">
                                <img src="/images/w3c.jpg" width="30"/>
                            </a>
                        {% endif %}
                        {% if result.contentType == "text/css" %}
                            <a href="https://jigsaw.w3.org/css-validator/validator?uri={{ url|url_encode }}">
                                <img src="/images/w3c.jpg" width="30"/>
                            </a>
                        {% endif %}
                    </div>
                    <a href="{{ result.url }}">{{ result.url }}</a>

                </div>
                <div class="message">
                    <ul>
                        {% for ruleName, message in result.messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        </table>
    </div>

{% endblock %}